<div class="copy">
    <h3>About</h3>
    <p>Hi! My name is <a href="http://en.wikipedia.org/wiki/Dan">Dan</a>. I am interested in using dynamic media to create shared experiences for our increasingly specialized world. I currently work as a front-end developer at <a href="http://curiosity.com/">Curiosity.com</a> in their <a href="http://en.wikivoyage.org/wiki/Chicago">Chicago</a> office. I've studied <a href="http://cias.rit.edu/schools/design/undergraduate-industrial-design">Industrial Design at RIT</a>, and more recently <a href="http://www.dynamicmediainstitute.org/">Dynamic Media</a> at <a href="http://www.massart.edu/">MassArt</a>.</p>
    <p>Born in <a href="http://www.cityofboston.gov/">Boston</a> and raised just outside I now find myself in <a href="http://www.cityofchicago.org/">Chicago</a>; experiencing all the joys and frustrations moving to a new city brings. Please get in touch if you have a great idea for the next big project, or if you'd just like to <a href="http://bowtruss.com/">grab some coffee!</a></p>
    <p>This text may not be clicked.</p>
    <h5><a href="#">&laquo; Back To All Projects</a></h5>
</div>
