<div class="copy">
    <h3>Contact</h3>
    <p>Thank you for your interest! If you'd like to get in touch, the best way is to send an email. Fire away at either <a href="mailto:drj8022@gmail.com">drj8022@gmail.com</a> or <a href="mailto:dan@danjohnston.com">dan@danjohnston.com</a>, they all go to the same place in the end. If you're feeling indecisive, go with the gmail one. For a full list of work experience, and technical knowledge please see my <a href="http://www.linkedin.com/in/drj8022" target="_blank">LinkedIn profile</a> or my <a href="https://github.com/drj8022" target="_blank">github account</a>.</p>
    <p>Thank you for your time.</p>
    <p>Keyword blast: javascript, jquery, backbone, underscore, bootstrap, css, css3, less, scss, php, slim, node, express, mysql, yeoman, grunt, bower, git, npm, brew, drupal, wordpress, phpmyadmin, terminal, coda, transmit, omnigraffle, mamp, photoshop, parallels</p>
    <h5><a href="#">&laquo; Back To All Projects</a></h5>
</div>
