<div class="copy">
    <h3>Contact</h3>

    <p>Thank you for your interest! If you'd like to get in touch, the best way is to send an email. Fire away at <a href="mailto:drj8022@gmail.com">drj8022@gmail.com</a>. You can find a copy of <a href="/dan_johnston_resume.pdf">my résumé</a> here, please no recruiter phone calls. Thanks! For a full list of work experience, and technical knowledge please see my <a href="http://www.linkedin.com/in/drj8022" target="_blank">LinkedIn profile</a> or my <a href="https://github.com/drj8022" target="_blank">github account</a>.</p>

    <p>Thank you for your time.</p>

    <p>Keyword blast: JavaScript, jQuery, Backbone, Underscore, Bootstrap, <span class="small-caps">CSS3</span>, <span class="small-caps">SASS</span>, <span class="small-caps">LESS</span>, <span class="small-caps">HTML5</span>, <span class="small-caps">PHP</span>, Slim, Node, Express, Processing, <span class="small-caps">MySQL</span>, Yeoman, Grunt, Bower, Git, Omnigraffle, Photoshop, Python, Flask, Jinja2, Drupal</p>

    <h5><a href="#">&laquo; Back To All Projects</a></h5>
</div>
