<div class="icons">
    <a class="twitter" href="https://twitter.com/drj8022" title="Twitter"></a>
    <a class="linkedin" href="http://www.linkedin.com/in/drj8022" title="LinkedIn"></a>
    <a class="github" href="https://github.com/drj8022" title="Github"></a>
    <a class="soundcloud" href="https://soundcloud.com/dan-johnston/likes" title="Soundcloud"></a>
    <a class="flickr" href="http://www.flickr.com/photos/drj8022/" title="Flickr"></a>
    <a class="foursquare" href="https://foursquare.com/drj8022" title="Foursquare"></a>
    <a class="blog" href="http://blog.danjohnston.com/" title="Blog / RSS"></a>
</div>
<div class="copy">Copyleft <span class="copyleft">&copy;</span> Dan Johnston 2001 &mdash; <span id="current-year">2014</span></div>
