<h1><a href="#">Dan Johnston <span class="title">Creative Technology</a></a></h1>
<div id="menu">
    <ul>
        <li><a href="#about" class="about">About</a></li>
        <li><a href="#contact" class="contact">Contact</a></li>
    </ul>
</div>
