// fonts

body {
    font-family: 'PT Serif', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    transition: color 0.5s ease;
}
#header {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.small-caps {
    font-size: 0.9em;
    letter-spacing: .02em;
}